.text-primary{
    color: #1F2937;
}
.text-secondary{
    color: #64748B;
}
.bg-secondary{
    background-color: #F8FAFC;
}

@media (max-width: 768px) {
    .search-input::placeholder {
        font-size: 12px;
    }
}